.service {
  margin-top: 300px;
  margin-bottom: 60px;
}

.service-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: #0A071B;
  margin-bottom: 30px;
  position: relative;
 
}

.shape-satting {
  position: absolute;
  top: -25px;
  left: -20px;
  z-index: -1;
}

.service-peragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5B5675;
}